<div class="container">

<h1>About Me</h1>

  <div> <%= image_tag "meganvickell.jpg" %>
    <p>
      Megan Vickell is a Toronto-based Publicist & PR Consultant with day-to-day experience in social media, personal and corporate profile building, and all things public relations.
      For free PR tips, ideas and general advice for your business or brand, check out my blog.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam corrupti adipisci quasi earum reiciendis architecto aspernatur, et error fuga distinctio quam tempora eius blanditiis praesentium iure totam ducimus nobis voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quae, mollitia tempore consectetur itaque ut ipsum eum iusto quia iure, ratione beatae cum dignissimos, optio, iste vitae culpa commodi eos.
    </p>
  </div>
</div>