<!-- Page Heading/Breadcrumbs -->

    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Client Testimonials</h1>

        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">Client Testimonials</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->

    <br>
    <br>

    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <p>"It has been an absolute pleasure working with Megan as our publicist. She has proven a committed ability to juggle a number of projects simultaneously with laser focus and R.O.I. in mind. It’s her ability to think beyond the scope of traditional press that lets her see things in ways other people don’t. She expanded our connections with key industry professionals though print, online, television and experiential events. A natural leader with a professional and friendly demeanor, Megan is gifted in doing business with people from many different fields. She’s a valuable asset to the organization, we are lucky to have her on our side."</p>
        </div>
      </div>

      <div class="row quote col-xs-10 col-xs-offset-1">
        <p> - Mario Christian Lavorato, Founder of Daniel Christian Tang</p>
      </div>

      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <p>"Fixopolis, being a tech startup meant that we needed the most strategic and cost effective way to tell people about our services. Megan not only delivered on her promises but blew our expectations out of the water! With over 5 TV interviews and a handful of written articles by newspapers and big industry media outlets, our PR plan was light-years ahead of where we expected before we approached MVPR. There is not a better person for the job and I would recommend her to anyone."</p>
        </div>
      </div>

      <div class="row quote col-xs-10 col-xs-offset-1">
        <p> - Dylan Sher, Founder and CEO of fixopolis.com</p>
      </div>

      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <p>"Megan Vickell is very approachable and professional. She totally got what our company needed after our first meeting. She came back to us with a solid social media plan and a ton of great ideas for getting our brand more exposure. Her connections gave us the opportunity to be on TV, write for different magazines, and collaborate with other inspiring creatives. Megan was always available and accessible. We absolutely recommend Megan for all your PR needs."</p>
        </div>
      </div>

      <div class="row quote col-xs-10 col-xs-offset-1">
        <p> - Val Nova & Lori Fabrizio, Co-Creators, Two Chicks & Some Lipstick</p>
      </div>
    </div>