
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Contact</h1>

      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Contact</li>
      </ol>
    </div>
  </div>
</div>

<div class="spacer">

</div>

<div class="container">
  <div class="row">



    <div class="col-md-2 col-sm-6 text-center">
        <br>
      <a href="https://www.linkedin.com/in/meganvickell"><%= image_tag("linkedin_logo.png", size: '120x120') %></a>
      <br>
      <br>
      <h4>LinkedIn</h4>
    </div>

    <div class="col-md-offset-1 col-md-2 col-sm-6 text-center">
        <br>
      <a href="https://www.youtube.com/channel/UClq8ciGjk_5fmLgK1d1Ua0g"><%= image_tag('youtube-round-logo.png', size: '120x120') %></a>
      <br>
      <br>
      <h4>YouTube</h4>
    </div>

    <div class="col-md-offset-1 col-md-2 col-sm-6 text-center">
        <br>
      <a href="https://twitter.com/megan_vickell"><%= image_tag("twitter_logo.jpg", size: '120x120') %></a>
      <br>
      <br>
      <h4>Twitter</h4>
    </div>

    <div class="col-md-offset-1 col-md-2 col-sm-6 text-center">
        <br>
      <a href="http://mvickell.tumblr.com/"><%= image_tag("blogger-circle.png", size: '120x120') %></a>
      <br>
      <br>
      <h4>Blog</h4>
    </div>

  </div>
