
  <!-- Page Heading/Breadcrumbs -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">FAQ</h1>

        <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li class="active">FAQ</li>
        </ol>
      </div>
    </div>

<br>

<div class="container">
  <div class="row">
    <strong>What is PR?</strong>
      <br>
    <p>Public relations focuses on promoting a company, product or individual in order to gain exposure in the media, build a brand, create awareness, and increase credibility.</p>
      <br>
    <strong>What does MVPR do?</strong>
      <br>
    <p>MVPR helps its' clients credibility and visibility.</p>
      <br>
    <strong>What public relations services do you provide?</strong>
      <br>
    <p>We offer everything from traditional “pitch and place” media relations to modern content distribution, and everything in between. See “Services” for full list.</p>
      <br>
    <strong>Do you have relevant experience in regard to my sector?</strong>
      <br>
    <p>We are widely experienced across a diverse range of B2B and B2C sectors. Our core areas include, fashion, consumer technology, beauty and general lifestyle. We would be happy to provide relevant case studies and client testimonials to help demonstrate our experience in your area.</p>
      <br>
    <strong>How many press placements will I get?</strong>
      <br>
    <p>The amount of press placements for each client varies, some may get one press placement in a month, and others may get 10+. There are many factors that affect media coverage results – newsworthiness, the size of the target market, the length of the PR campaign, the amount of time and effort the client is willing to put into answering media questions or doing interviews, the amount of media contacts pitched, and more. Sometimes campaigns or pitches take time to get traction with the media and results are not immediately seen, however, this is not always the case and the complete opposite will happen – it’s difficult to guarantee results, but rest assured that the best efforts will be put forth in generating coverage for the client.</p>
      <br>
    <strong>Would you represent anybody? If not, what criteria do you use in selecting clients?</strong>
      <br>
    <p>No. We only represent clients whom we feel we can successfully land publicity. If we don’t think you have a marketable product, idea or service–or we don’t believe we can effectively help you achieve your goals, we won’t accept you as a client. Another reason we may pass is because we already represent a client similar to what you do or offer. We don’t want our clients competing against one other for publicity. We want to push for a client 100%, not 50% of the time.</p>
      <br>
    <strong>Why choose Megan Vickell Public Relations?</strong>
      <br>
    <p>Because we are good at what we do and have had tremendous success.  Our reputation means everything to us.  So please:  don’t simply take our word for it–ask around.</p>
      <br>

  <strong>How do you structure your fees?</strong>
      <br>
    <p>We can work on either retainer (i.e. 3 to 6 month term) or a project basis, depending on your requirements. We would provide you with a quotation beforehand and we would highlight any additional fees before embarking on additional work. That means that you’ll never receive an invoice from us that you weren’t expecting.</p>
      <br>

  <strong>Are there any contracts or long term commitments?</strong>
      <br>
    <p>Because we are good at what we do and have had tremendous success.  Our reputation means everything to us.  So please:  don’t simply take our word for it–ask around.</p>
      <br>
      <br>
      <br>
  <p>We hope the above has addressed any potential questions you might have, but if you’d like to learn more about how we work, don’t hesitate to <a href="http://meganv.herokuapp.com/pages/contact">get in touch today.</a></p>

  </div>
    <!-- /.row -->
</div>