<div class="jumbotron">
  <div class="container text-center">
    <h1>Megan PR App</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam vitae natus dolores quam ex atque veritatis, at, quo nihil illo laboriosam soluta repellendus corporis facilis quasi, sequi neque! Vel, esse.</p>
  </div>
</div>